services:
  campanha-service:
    image: campanha-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - campanha.service.url=http://campanha-service:8080
      - comentario.service.url=http://comentario-service:8081
      - pagamento.service.url=http://pagamento-service:8082
      - recompensa.service.url=http://recompensa-service:8083
      - usuario.service.url=http://usuario-service:8084
    volumes:
      - ./data/campanhas.json:/app/data/campanhas.json
      - ./data/comentarios.json:/app/data/comentarios.json
      - ./data/pagamentos.json:/app/data/pagamentos.json
      - ./data/recompensas.json:/app/data/recompensas.json
      - ./data/usuarios.json:/app/data/usuarios.json
    depends_on:
      - comentario-service
      - pagamento-service
      - recompensa-service
      - usuario-service

  comentario-service:
    image: comentario-service
    ports:
      - "8081:8081"

  pagamento-service:
    image: pagamento-service
    ports:
      - "8082:8082"

  recompensa-service:
    image: recompensa-service
    ports:
      - "8083:8083"

  usuario-service:
    image: usuario-service
    ports:
      - "8084:8084"
